<form action="{{ action }}" method="POST" style="display: none;">
    <input type="hidden" name="_method" value="{{ method }}" />
    <input type="hidden" name="_token" value="{{ token }}" />
    <input type="submit" value="Submit" />
</form>
